<?js
var data = obj;
var self = this;
?>


<?js if (data.kind === 'package' && (data.name ||data.version)) { ?>
    <h3><?js= data.name ?> <?js= data.version ?></h3>
<?js } ?>

<?js if (data.readme) { ?>
    <section>
        <article><?js= data.readme ?></article>
    </section>
<?js } ?>
