@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,700);

.container > header,
.codrops-top {
	font-family: 'Lato', Arial, sans-serif;
}

.container > header {
	margin: 0 auto;
	padding: 2em 0em;
	text-align: center;
	color: #89867e;
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	color: #ceccc6;
	padding: 0 0 0.6em 0.1em;
}

.container > section {
	margin: 0 auto;
	padding: 1em 3em;
	text-align: center;
}

.color-4 {
	background: #72cd22;
	background: #0e83cd;
}

