<?js
    var data = obj;
?>
    <section>
        <article>
            <pre class="sunlight-highlight-javascript <?js= this.navOptions.linenums ? 'linenums' : '' ?>"><?js= data.code ?></pre>
        </article>
    </section>
