<section>
    
<header>
    <?js if (children.length > 0) { ?>
    <ul><?js
        var self = this;
        children.forEach(function(t) { ?>
        <li><?js= self.tutoriallink(t.name) ?></li>
    <?js }); ?></ul>
    <?js } ?>

    <h2><?js= header ?></h2>
</header>  

<article>
    <?js= content ?>
</article>

</section>  
