/**
Default styles for some custom classes.
Change with theme as appropriate..
*/

.deprecated-notice {
    border: 2px solid rgb(255, 238, 238);
    padding: 10px;
    margin-bottom: 10px;
}

.toc-deprecated {
    text-decoration: line-through;
}

.returns-type {
    float: left;
    padding-right: 10px;
}

.returns-desc {    
}

dt a {
    font-weight: normal;
}
